.viewcontatiner{
	margin:0 auto;
	
}
.viewtop{
	padding-top: 70px;
	text-align: center;
	text-transform: uppercase;
	
}
.form-inline-extra{
	padding-top: 20px;
	
}
.form-margin{
	margin-right: 30px;
}